<script type="module">

  import PhotoSwipeLightbox from '/photoswipe/photoswipe-lightbox.esm.js';
  import PhotoSwipeDynamicCaption from '/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.esm.min.js';

  const lightbox = new PhotoSwipeLightbox({
    gallery: '.photograph-gallery',
    children: '.photograph',
    bgOpacity: 0.95,
    secondaryZoomLevel: .5,
    maxZoomLevel: 1,
    padding: {
      top: 20,
      bottom: 20,
      left: 20,
      right: 20
    },
    pswpModule: () => import('/photoswipe/photoswipe.esm.js')
  });

  const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
    type: 'auto'
  });

  lightbox.init();

</script>
