/* Contact Page */

.contact-form {

  .form__group {
    margin-bottom: 20px;
  }

  .form__input {
    width: 100%;
    padding: 20px;
    font-family: $heading-font-family;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid transparent;
    border-radius: 8px;
    color: $light-gray;
    background: $blue-dark;
    transition: border-color .2s ease-in-out;
    &::placeholder {
      color: $white;
    }
    &:focus {
      border-color: $brand-color;
    }
  }

  textarea {
    resize: vertical;
  }

  button[type="submit"] {
    border-radius: 10px;
    will-change: transform;
    transition: all .1s ease;
    cursor: pointer;
    color: $white;
    outline: none;
    text-align: center;
    &.submitting {
      cursor: wait;
      font-size: 0;
      padding: 0;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      background: transparent;
      border: 2px solid $brand-color;
      border-right: 2px solid $white;
      animation: loader .4s linear infinite;
    }
  }

  @keyframes loader {
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

  .message-sent {
    text-align: center;
    display: none;
  }
}