<p class="social-links">
    {% if site.github %}
    <a href="https://github.com/{{ site.github }}" target="_blank">
        <span class="fa-github fa" aria-hidden="true"></span>
        <span class="screen-reader-text">GitHub</span>
    </a>
    {% endif %}
    {% if site.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
        <span class="fa-linkedin fa" aria-hidden="true"></span>
        <span class="screen-reader-text">Linkedin</span>
    </a>
    {% endif %}
    {% if site.stackoverflow %}
    <a href="https://www.stackoverflow.com/u/{{ site.stackoverflow }}" target="_blank">
        <span class="fa-stack-overflow fa" aria-hidden="true"></span>
        <span class="screen-reader-text">ProductHunt</span>
    </a>
    {% endif %}
</p>