{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Features

	Description:

		Generates a grid of featured content.

	Example:

		---
		my_features_arrray:
		- icon: fa-pencil
			title: Praesent sed donec
			excerpt: Proin consequat luctus elit.
		- icon: fa-paper-plane
			title: Commodo mollis
			excerpt: Pellentesque, ornare sapien quis.
		---

		{% include components/features.html features=page.my_features_array %}

{% endcomment %}

<!-- Features -->
	<div class="features">
		{% for feature in include.features %}
			<section class="content">
				<span class="icon-wrapper major">
					<span class="icon {{ feature.icon }}"></span>
				</span>
				<h3>{{ feature.title }}</h3>
				<p>{{ feature.excerpt | remove: "<p>" | remove: "</p>" }}</p>
			</section>
		{% endfor %}
	</div>