{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site footer

	Description:

		Contact info, form, and footer.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Contact -->
	<section id="contact" class="wrapper split">
		<div class="inner">
			<section>
				<h2>Send me a message</h2>
				<form id="gform" method="post" action="https://script.google.com/macros/s/AKfycbzt0FMWRMK4-PQ1N4-q6n0ZcWU56TXg1sX-G4s-kgPI13butKPI/exec">
					<div class="row uniform">
						<div class="12u$">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" placeholder="John Doe" />
						</div>
						<div class="12u$">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" placeholder="john.doe@example.com" />
						</div>
						<div class="12u$">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="5" placeholder="Tell me what's on your mind"></textarea>
						</div>
						<div class="12u$">
							<ul class="actions">
								<li><input type="submit" value="Send Message" class="special" /></li>
								<li><input type="reset" value="Reset" /></li>
							</ul>
						</div>
					</div>
				</form>
				<div style="display:none;" id="thankyou_message">
					<p>Thanks for contacting me! I will get back to you soon.</p>
				</div>
			</section>
			<section>
				<h2>Other ways to reach me</h2>
				<ul class="bulleted-icons">
					<li>
						<span class="icon-wrapper"><span class="icon fa-linkedin"></span></span>
						<h3>LinkedIn</h3>
						<p><a href="https://www.linkedin.com/in/cassiomolin/en" target="_blank">linkedin.com/in/cassiomolin</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-github"></span></span>
						<h3>GitHub</h3>
						<p><a href="https://github.com/cassiomolin" target="_blank">github.com/cassiomolin</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-stack-overflow"></span></span>
						<h3>Stack Overflow</h3>
						<p><a href="https://stackoverflow.com/u/1426227" target="_blank">stackoverflow.com/u/1426227</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-instagram"></span></span>
						<h3>Instagram</h3>
						<p><a href="https://instagram.com/cassiomolin" target="_blank">instagram.com/cassiomolin</a></p>
					</li>
				</ul>
			</section>
		</div>
	</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<p class="copyright">&copy; Cássio Mazzochi Molin<br>This blog is written with <i class="fa fa-heart" aria-hidden="true"></i> in Ireland</p>
		</div>
	</footer>