{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Default layout

	Description:

		Basic HTML foundation for all pages.

	Example:

		---
		layout: default
		---

{% endcomment %}

<!DOCTYPE HTML>
<html>
	<head>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-69796629-3"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-69796629-3');
		</script>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<title>{% if page.title %}{{ page.title | escape }} | {{ site.title | escape }} {{ site.tagline | escape }}{% else %}{{ site.title | escape }} {{ site.tagline | escape }}{% endif %}</title>
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie8.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/noscript.css" /></noscript>

		{% seo %}

	</head>
	<body>

		{% include layout/header.html class=page.header_class %}

		{{ content }}

		{% include layout/footer.html %}

		<!-- Scripts -->
			<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ site.baseurl }}/assets/js/main.js"></script>
			<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/prettify.js"></script>
			<script>
			  [].forEach.call(document.getElementsByTagName("pre"), function(el) {
			    el.classList.add("prettyprint");
			  });
			  prettyPrint();
			</script>
			<script>
			  [].forEach.call(document.querySelectorAll('.post a'), function(el) {
			    el.setAttribute('target', '_blank');
			  });	
			</script>
			<script src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
	</body>
</html>
