---
layout: default
---

{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Sidebar layout

	Description:

		A layout where content is displayed alongside the sidebar.
		Allows defining the sidebar orientation on each page.

	Example:

		---
		layout: sidebar
		sidebar_align: right
		---

{% endcomment %}

<!-- Main -->
	<section id="main" class="wrapper sidebar {{ page.sidebar_align | default: 'left' }}">
		<div class="inner">

			<!-- Content -->
				<div class="content">
					{{ content }}
				</div>

			{% include layout/sidebar.html %}

		</div>
	</section>